/* CSS Document */

body
{
	margin:0;
	padding:0;
	background:#ffffff;
	text-align:center;
	background-image: url(../sablony/pozadi.jpg);
	background-repeat: repeat;
	
}

a:link {text-decoration: none; color: blue;}
a:hover {text-decoration: none; color: red;}
a:visited {text-decoration: none; color: blue;}

table
{
	width: 510px;
	margin: 0px auto;
	border-collapse: collapse;
	border: 1px solid black;
  text-align: center; 
  margin: 10px 0px 10px 0px ; 
}

table th{
  background-color: #C3C7BC; 
}

#hlavicka
{
	padding: 20px 0px 20px 0px;
	background: #dddddd;
	text-align: center;
	border-bottom: 1px solid blue;
}

#obsah
{
	width: 750px;
	margin:1em auto;
	border: 1px solid blue;
	text-align:left;
	background-color: white;

}

#levypanel
{
	float: left;
	width: 200px;
	margin: 0;
	padding: 0;

}

#levypanel-obsah
{
 margin-top: 20px;
 text-align: center;
  
}

#menu a, #menu a:visited {
  
  text-decoration:none; 
  text-align:left;
  color: #2B50FF; 
  display:block; 
  width:85%;
  padding:0.25em;
  margin:0.5em auto;
  letter-spacing: 0.7px;
  font: normal bold 12px Tahoma;
  }

#menu a:hover {
  top:2px;
  color: #0000CE;
  border-width: 1px 0px 1px 0px;
  border-color: blue;
  border-style: solid none solid none;
}


#hlavnipanel
{
	margin:0 0 0 200px;
	padding:0;
	min-height: 370px;
	border-left: 1px solid blue;
	height:auto !important;
  height: 400px;

}

#hlavnipanel-obsah
{
	margin:0;
	padding: 0.5em 1em;
}

#hlavnipanel-obsah h1
{
	font: normal bold 18px Tahoma;
	color: #1161AE;
}

#hlavnipanel-obsah p
{
	font: normal 14px Tahoma;
	color: black;
	padding-left: 1em;
}

#prihlaseni
{
	min-height: 50px;
	border: 1px solid blue;
	height:auto !important;
	height:50px;
	margin: 100px 230px 100px 230px;
	padding: 10px 20px 10px 20px;

}

#paticka
{
	padding: 10px;
	border-top: 1px solid blue;
	background: #dddddd;
	text-align: right;
}

hr.cleaner
{
	clear:both;
	display: none;

}

input, label, select, textarea, li  
{  
 display: block;  
}

h1
{
  font-weight: bold;
  font-size: 24px;
  height: 30px;
}

h2
{
  font-weight: bold;
  font-size: 20px;
  height: 35px;

}